<table class="slds-table slds-table_bordered slds-table_cell-buffer kp-table">
  <thead>
    <tr class="slds-text-title_caps">
      <th scope="col" class="kp-table__column kp-table__column--icon">
        <div class="slds-truncate" title=""></div>
      </th>
      <th scope="col">
        <div class="slds-truncate" title="Contact Name">Contact name</div>
      </th>
      <th scope="col">
        <div class="slds-truncate" title="Account Name">Account Name</div>
      </th>
      <th scope="col">
        <div class="slds-truncate" title="Birthday">Birthday</div>
      </th>
      <th scope="col">
        <div class="slds-truncate" title="Salary">Salary</div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <tr ng-repeat="item in $ctrl.dataTable">
      <td data-label="icon">
        <span class="slds-icon_container slds-icon-standard-contact" title='contact'>
          <svg class="slds-icon slds-icon_small" aria-hidden="true" ng-click="$ctrl.show(item)">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" 
                 xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#contact" />
          </svg>
        </span>
      </td>
      <td data-label="Contact Name">
        <div class="slds-truncate" title="Contact Name">{{item.name}}</div>
      </td>
      <td data-label="Account Name">
        <div class="slds-truncate" title="Account Name">{{item.account_name}}</div>
      </td>
      <td data-label="Birthday">
        <div class="slds-truncate" title="Birthday">
          {{$ctrl.formatingDate(item.birthday)}}
        </div>
      </td>
      <td data-label="Salary">
        <div class="slds-truncate" title="Salary">
          {{$ctrl.formatingCurrency(item.salary)}} {{item.currency}}
        </div>
      </td>
    </tr>
  </tbody>
</table>