<article class="slds-card">
  <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media_center slds-has-flexi-truncate">
      <div class="slds-media__figure">
        <span class="slds-icon_container slds-icon-standard-contact" title={{$ctrl.title}}>
          <svg class="slds-icon slds-icon_small" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#contact" />
          </svg>
        </span>
      </div>
      <div class="slds-media__body">
        <h2>
          <a href="javascript:void(0);" class="slds-card__header-link slds-truncate" title="[object Object]">
            <span class="slds-text-heading_small">{{$ctrl.title}}</span>
          </a>
        </h2>
      </div>
    </header>
    <div class="slds-no-flex wrpper-actions">
      <button class="slds-button slds-button_brand" ng-click="$ctrl.showModal()">Create new</button>
      <button class="slds-button slds-button_neutral" ng-click="$ctrl.showFilter()">Filter</button>

      <!-- Filter -->
      <kp-filter 
        ng-if="$ctrl.showFilterTable"
        hide="$ctrl.hideFilter()"/>
      <!-- / Filter -->
    </div>
  </div>
  <div class="slds-card__body slds-card__body_inner">

    <kp-table show-modal="$ctrl.showModal(contact)" />

  </div>
</article>


<kp-modal  
  ng-if="$ctrl.showModalContact"
  title="$ctrl.titleModal"
  hide="$ctrl.hideModal()"
  save="$ctrl.hideModal()">
  <kp-form-contact contact="$ctrl.contact" />
</kp-modal>