<div class="slds-form slds-form_stacked">
  <form>
    <div class="slds-grid slds-wrap">

        <!-- First name -->
        <div class="slds-p-horizontal_small slds-size_1-of-2 slds-m-bottom_small">
          <div class="slds-form-element">
            <label class="slds-form-element__label" for="input-unique-id">First name</label>
            <div class="slds-form-element__control">
              <input 
                type="text" 
                id="input-unique-id" 
                class="slds-input" 
                placeholder="First name" 
                ng-model="$ctrl.contact.name"/>
            </div>
          </div>
        </div>
        <!-- / First name -->

        <!-- Last name -->
        <div class="slds-p-horizontal_small slds-size_1-of-2 slds-m-bottom_small">
          <div class="slds-form-element">
            <label class="slds-form-element__label" for="input-unique-id">Last name</label>
            <div class="slds-form-element__control">
              <input 
                type="text" 
                id="input-unique-id"  
                class="slds-input" 
                placeholder="Last name" 
                ng-model="$ctrl.contact.account_name" />
            </div>
          </div>
        </div>
        <!-- / Last name -->

        <!-- Account -->
        <div class="slds-p-horizontal_small slds-size_1-of-1 slds-m-bottom_small">
          <div class="slds-form-element">
            <label class="slds-form-element__label" for="combobox-unique-id">Account</label>
            <div class="slds-form-element__control">
              <div class="slds-combobox_container slds-has-object-switcher">
                <div class="slds-listbox_object-switcher slds-dropdown-trigger slds-dropdown-trigger_click">
                  <button class="slds-button slds-button_icon" aria-haspopup="true" title="Select object to search in">
                    <span class="slds-icon_container slds-icon-standard-account" title="Accounts">
                      <svg class="slds-icon slds-icon_small" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account" />
                      </svg>
                      <span class="slds-assistive-text">Searching in: Accounts</span>
                    </span>
                    <svg class="slds-button__icon slds-button__icon_x-small" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down" />
                    </svg>
                  </button>
                </div>
                <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                  <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                    <input type="text" class="slds-input slds-combobox__input" id="combobox-unique-id" aria-autocomplete="list" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="Search Salesforce" ng-model-options="{ debounce: 500 }" />
                    <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
                      <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search" />
                      </svg>
                    </span>
                  </div>
                </div>
              </div>
              <div id="listbox-selections-unique-id" role="listbox" aria-orientation="horizontal">
                <ul class="slds-listbox slds-listbox_inline slds-p-top_xxx-small" role="group" aria-label="Selected Options:">
                  <li role="presentation" class="slds-listbox__item">
                    <span class="slds-pill" role="option" tabindex="0" aria-selected="true">
                      <span class="slds-avatar slds-avatar_x-small slds-pill__icon_container">
                        <span class="slds-icon_container slds-icon-standard-account" title="Description of icon when needed">
                          <svg class="slds-icon" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account" />
                          </svg>
                          <span class="slds-assistive-text">Description of icon</span>
                        </span>
                      </span>
                      <span class="slds-pill__label" title="Acme">Acme</span>
                      <span class="slds-icon_container slds-pill__remove" title="Remove">
                        <svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
                        </svg>
                        <span class="slds-assistive-text">Press delete or backspace to remove</span>
                      </span>
                    </span>
                  </li>
                  <li role="presentation" class="slds-listbox__item">
                    <span class="slds-pill" role="option" aria-selected="true">
                      <span class="slds-avatar slds-avatar_x-small slds-pill__icon_container">
                        <span class="slds-icon_container slds-icon-standard-opportunity" title="Description of icon when needed">
                          <svg class="slds-icon" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#opportunity" />
                          </svg>
                          <span class="slds-assistive-text">Description of icon</span>
                        </span>
                      </span>
                      <span class="slds-pill__label" title="Salesforce.com, Inc.">Salesforce.com, Inc.</span>
                      <span class="slds-icon_container slds-pill__remove" title="Remove">
                        <svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
                        </svg>
                        <span class="slds-assistive-text">Press delete or backspace to remove</span>
                      </span>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- / Account -->

        <!-- Birthday -->
        <div class="slds-p-horizontal_small slds-size_1-of-2 slds-m-bottom_small">
          <div class="slds-form-element">
            <label class="slds-form-element__label" for="input-unique-id">Birthday</label>
            <div class="slds-form-element__control">
              <kp-datepicker model="$ctrl.contact.birthday"/>
            </div>
          </div>
        </div>
        <!-- / First name -->

        <!-- Salary -->
        <div class="slds-p-horizontal_small slds-size_1-of-2 slds-m-bottom_small">
          <div class="slds-form-element">
            <label class="slds-form-element__label" for="input-unique-id">Salary</label>
            <div class="slds-form-element__control">
              <input 
                type="text" 
                id="input-unique-id" 
                class="slds-input" 
                placeholder="10,000.23" 
                ng-model="$ctrl.contact.salary" />
            </div>
          </div>
        </div>
        <!-- / Salary -->

    </div>
  </form>
</div>