.kp-filter,
.slds-card .slds-card.kp-filter {
  position: absolute;
  right: 0;
  top: 44px;
  z-index: 1;
  border: 1px solid #dddbda;
  box-shadow: 2px 2px 0px #dddbda;

  &__wrapper-field {
    padding: 7px 10px 10px 10px;
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
  }
}