<article class="slds-card kp-filter">
  <form novalidate name="filterTable">
    <div class="slds-card__header slds-grid">
      <header class="slds-media slds-media_center slds-has-flexi-truncate">
        <div class="slds-media__body">
          <h2>
            <a href="javascript:void(0);" class="slds-card__header-link slds-truncate" title="[object Object]">
              <span class="slds-text-heading_small">Filter</span>
            </a>
          </h2>
        </div>
      </header>
      <div class="slds-no-flex">
        <div class="slds-button-group" role="group">
          <button class="slds-button slds-button_brand">Save</button>
          <button class="slds-button slds-button_neutral" ng-click="$ctrl.reset()">Clean</button>
          <button class="slds-button slds-button_neutral" ng-click="$ctrl.closeFilter()">Close</button>
        </div>
      </div>
    </div>
    <div class="slds-card__body slds-card__body_inner">

      <!-- Content -->
      <div class="slds-form slds-form_stacked">

        <!-- Account name -->
        <div class="kp-filter__wrapper-field slds-m-bottom_small">
          <div class="slds-form-element">
            <label class="slds-form-element__label" for="input-unique-id">Account name</label>
            <div class="slds-form-element__control">
              <input 
                type="text" 
                id="input-unique-id" 
                class="slds-input" 
                placeholder="Account name" 
                ng-model="$ctrl.filter.accounrName"/>
            </div>
          </div>
        </div>
        <!-- / Account name -->

        <!-- Birthday -->
        <div class="kp-filter__wrapper-field slds-m-bottom_small">
          <div class="slds-form-element">
            <label class="slds-form-element__label" for="input-unique-id" >Birthday</label>
            <div class="slds-form-element__control">
              <kp-datepicker model="$ctrl.filter.birthday"/>
            </div>
          </div>
        </div>
        <!-- / First name -->

        <!-- Salary -->
        <div class="kp-filter__wrapper-field slds-m-bottom_small">
        <div class="slds-form-element">
          <label class="slds-form-element__label" for="input-unique-id">Salary</label>
            <div class="slds-form-element__control">
              <input 
                type="text" 
                id="input-unique-id" 
                class="slds-input" 
                placeholder="10,000.23"
                ng-model="$ctrl.filter.salary"/>
            </div>
          </div>
          <!-- / Salary -->
        </div>
      </div>
      <!-- / Content -->

    </div>
  </form>
</article>